.nav {
    height: 30rem;
    background-color: var(--primary);
    margin-top: -5rem;
}

.image {
    margin-top: 4rem;
}
.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon {
    margin-top: 10rem;
    color: black;
}